1) No promotion allowed.
This includes the following:
- Your own avatars.
- Your own worlds.
- Discord servers.
- Youtube videos.
- Websites.
And so on...
PS. Promotion of the client it allowed and you should totally do it

2) No spamming.
Keep the channels free of spam, on top of that mass mentions is also disallowed.

3) English only.
We really don't have a purpose for another language since English is our main language of use.

4) Use common sense.
There are some rules that are not listed above, and that is because everyone should be aware of themselves. Don't violate Discords T.O.S. (i.e. no gore or NSFW).

5) No disrespecting the staff.
Our words are final, and you should always be listening to us.

6) No racism or prejudice.
Prejudice in any form will result in a mute. Repeated violations will result in ban and/or blacklist.

7) Do not add or message Administrators unless there is a major bug/issue. There is a staff team for a reason, and if you need assistance with anything please make a ticket.

8) No malicious acts.
Munchen Users!
Harassment, DDosing, or Doxing is strongly prohibited and will get you blacklisted from the client.

9) No sending free nitro/any free stuff links
If your account gets logged and they spam free nitro loggers/other free fake stuff, that is on you. Use 2 step auth. You will be given a perm mute in discord and you'll only be able to make tickets to get help with client.
Better safe then sorry don't click on any links that say free....

If you break any of the rules listed above, it will result in a potential warning or even ban/blacklist from the client if repeated offense is encountered.